* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #444444;
  text-align: center;
  font-family: sans-serif;
  background-image: url(https://images.pexels.com/photos/713664/pexels-photo-713664.jpeg?cs=srgb&dl=pexels-min-an-713664.jpg&fm=jpg);
}

#container {
  background-color: white;
  width: 80%;
  max-width: 400px;
  margin-top: 100px;
  margin-inline: auto;
  padding: 30px;
  border-radius: 20px;
  border: none;
}

h1 {
  margin: 40px 0 10px 0;
  opacity: 0.9;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input, button {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(1.2);
}

#resposta {
  margin-top: 30px;

  transition: opacity, 1s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.7;
  margin-bottom: 10px;
}